:root {
    --fg_color:#8C1515;
    --bg_color: #F8F6EA;
    --box_color: #b6b1a9;
    --link_color: #006CB8;
    --dark-blue: #007c92;
    --fogwhite:#F4F4F4;
    --textblack:#3B3738;
}

html{
  height:100%;
}


body {
    background-color: var(--bg_color);
    color: var(--fg_color);
    padding-bottom: 69px;
    padding-left: 12px;
    padding-right: 36px;
    font-size: 18px;
    font-family: "Helvetica", Helvetica, Arial,sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    position:relative;
    top:144px;
    z-index:10;
    vertical-align: middle;
}
footer {
    bottom: 0px;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index:99;
    padding: 0;
    background-color: var(--bg_color);
    display:block;
    vertical-align: middle;
}
header {
    top: 0px;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index:99;
    overflow: hidden;
    background-color: var(--bg_color);
    display:block;
    vertical-align: middle;
}

/* columns */
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding-bottom: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul#nav {
    list-style-type: none;
    top:96px;
    height:40px;
    background-color: var(--fg_color);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    left: 0px;
    position:fixed;
    z-index:9;
}

ul#links {
    bottom:20px;
    height:40px;
    background-color: var(--fg_color);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    left: 0px;
    position:fixed;
    z-index:9;
}

#nav li, #links li {
    float: left;
    position: relative;
    left: 20px;
    vertical-align: middle;
}

/* links */

a {
    color: var(--link_color);
    text-decoration: underline;
}

#links li {
    list-style: none
}

#links li a {
    background-repeat: no-repeat;
    background-size: 25px;
    width: 150px;
}

#links li#email a {
    background-position: 30px 12px;
    background-image: url("/assets/icons/email.png");
    z-index:99;
    padding-left:50px;
}

#links li#scholar a {
    background-position: 10px 12px;
    background-image: url("/assets/icons/scholar.png");
    z-index:99; 
    padding-left:40px;  
}
#links li#github a {
    background-position: 20px 10px;
    background-image: url("/assets/icons/github.png");
    z-index:99;
    padding-left:45px;
}
#links li#publons a {
    background-position: 15px 10px;
    background-image: url("/assets/icons/publons.png");
    z-index:99;
    padding-left:40px;
}

#nav li a, #links li a {
    text-decoration: none;
    display: block;
    color: var(--fogwhite);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
    height:100px;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

#nav li a.active {
    background-color: var(--dark-blue);
}

#nav li a:hover, #links li a:hover {
    background-color: var(--dark-blue);
}

ul#posts { 
    background-color: var(--bg_color);
    width: 100%;
    padding-top: 9px;
    padding-bottom: 72px;
    font-size: 18px;
    line-height: 27px;
    position: relative;
    left: -40px;
}

#posts li {
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 18px;
    color: var(--fg_color);
    text-decoration: none;
    font-style: italic;
    list-style-type: none;
    float: left;
    clear: left;
}
#posts li a {
    color: var(--link_color);
    text-decoration: underline;
    font-style: normal;
}

ol {
    margin-right: 30px;
    margin-left: 10px;
    display: block;
    position:relative;
    z-index:0;
    text-align: justify;
}

ol li {
    padding-left: 20px;
    padding-bottom:10px;
    text-indent:-20px;
    font-size: 14px;
    line-height: 18px;
    color: var(--textblack);
    position:relative;
    z-index:0;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 0px;
}
h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 0px;
}
h3 {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 0px;
}

h1.relative, h2.relative, h3.relative {
    display:block;
    color: var(--fg_color);
    font-weight: 400;
    z-index: 1;
    position: relative;
}

h2.static, h3.static{
    font-weight: 400;
    color: var(--fg_color);
    position:fixed;
    z-index:1;
}
h1.static{
    top:0px;
    font-weight: 400;
    color: var(--textblack);
    position:fixed;
    z-index:1;
    text-decoration: underline;
}
h3.static{
    top:48px;
}
.research-logo {
    float: left;
    margin: 0px 20px 0px 20px;
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 18px;
    line-height: 27px;
    color: var(--textblack);
    margin: 0px;
    padding: 0px;
    border: 0px;
    z-index:1;
    position:relative;
    text-align: justify;
}

.box-text {
    border-left: 5px solid var(--box_color);
    border-right: 5px solid var(--box_color); 
    border-bottom: 5px solid var(--box_color);
    padding: 18px;
    border-radius: 0px 0px 15px 15px;
    top: 0px;"
    min-height: 50%;
}

.box-head {
    border: 0px; 
    border-radius: 15px 15px 0px 0px;
    padding: 24px 12px 24px 12px; 
    margin-right: 0px;
    margin-top: 9px; 
    background-color: var(--box_color);
    display: block;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 0px;
    display: block;
    text-decoration: none;
    color: var(--textblack);
    margin-right: 0px; 
    display: block;
    height:100%;
    width:100%
}

.box-head:hover {
    background-color: var(--dark-blue);
    color: var(--fogwhite);
    border-color: var(--dark-blue);
}

.box-head:hover ~ .box-text {
    border-color: var(--dark-blue);
    background-color: var(--dark-blue);
}

.blurb {
    min-height:100%; 
}

#logo {
    height: 136px;
    float: right;
    vertical-align: text-top;
    display:inline;
    margin: 0 auto;
    z-index:99;
    right: 36px;
    top:0px;
    border:none;
    position:fixed;
}

#pdf-icon {
    height:30px;
    position:absolute;
    width:30px;
    left:0%;
    margin-left:-55px;
    margin-top:-6px;
}
#movie-icon {
    height:20px;
    position:absolute;
    width:20px;
    left:0%;
    margin-left:-50px;
    margin-top:-2px;
}

#logo-img{
    width: 25%;
    float: left;
    margin: 0px;
    padding-right: 18px;
    vertical-align: text-top;
}

.container {
    margin: 0px;
    padding: 0px;
}

#leftnarrow, #leftwide{
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: text-top;
}
#rightwide, #rightnarrow {
    float: right;
    margin-left: 10px;
    margin-bottom: 0px;
    vertical-align: text-top;
}

#leftnarrow, #rightnarrow {
    width: 40%;
}

#leftwide, #rightwide {
    width: 60%;
}

.site-name a, .site-name a:hover {
    color: var(--textblack);
    font-weight: 500;
}
#site-slogan {
    color: var(--fg_color);
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
    #logo {
        visibility:hidden
    }
}