/* COLORS */
:root {
    --red: #9A0100;
    --white: #FFFFFF;
    --taupe: #E4DECE;
    --black: #000000;
    --blue: #004A8D;
    --gold: #D49F0F;
}

/* OVERALL STYLES: HEADER, FOOTER, BODY */
html{
    height:100
}

body {
    background-color: var(--taupe);
    color: var(--black);
    margin: 200px 0px 0px 0px;
    font-size: 18px;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    position:relative;
    z-index:10;
    vertical-align: middle;

}
footer {
    bottom: 0px;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index:99;
    padding: 0;
    background-color: var(--taupe);
    display:block;
    vertical-align: middle;
}
header {
    height: 200px;
    width: 100%;
    top: 0px;
    margin: 0px;
    padding: 20px;
    position: fixed;
    display: block;
    overflow: hidden;
    z-index: 99;
    background-color: var(--taupe);
    background-image:url('/assets/logos/lab_logo.png'); 
    background-origin:content-box; background-repeat:no-repeat;
    background-size: auto 100%
}

/* NAVIGATION BARS AND LISTS */
/* set color of active links */
.active {
  background-color: var(--gold); /* Add an active/current color */
  color: var(--black);
}
/* top bar */

/* Add a background color to the top navigation */
.topnav {
  background-color: var(--red);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 200px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  z-index: 99;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: var(--white);
    background-color: var(--red);
    transition: all 0.3s ease; /* Add transition for hover effects */
    text-align: center;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--gold);
  color: var(--black);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: var(--gold);
  color: var(--black);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  padding: 9px 15px 9px 15px;
  margin: 0px;
}

/* bottom bar */

.icon-bar {
  width: 100%; /* Full-width */
  background-color: var(--red); /* Dark-grey background */
  overflow: hidden; /* Overflow due to float */
  z-index: 99;
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: center
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: var(--white); /* White text color */
  padding: 10px 15px 0px 15px;
  text-decoration: none;
  font-size: 20px;
  height: 45px;
}

.icon-bar a:hover {
  background-color: var(--gold);; /* Add a hover color */
}

/* style used for news */

ul#posts { 
    background-color: var(--taupe);
    width: 100%;
    padding-top: 9px;
    padding-bottom: 72px;
    font-size: 18px;
    line-height: 27px;
    position: relative;
    left: -40px;
    display: block;
}

#posts li {
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 18px;
    color: var(--red);
    text-decoration: none;
    list-style-type: none;
    float: left;
    clear: left;
}

#posts li span {
  float: left;
  width: 120px;
  text-align: right; 
  padding-right: 10px;
}

#posts li a {
    color: var(--blue);
    text-decoration: underline;
    font-style: italic
}

/* ordered list (used for publications and presentations) */
ol {
    margin-right: 30px;
    margin-left: 10px;
    display: block;
    position:relative;
    z-index:0;
    text-align: left;
}

ol li {
    padding-left: 20px;
    padding-bottom:10px;
    text-indent:-20px;
    font-size: 18px;
    line-height: 110%;
    color: var(--black);
    position:relative;
    z-index:0;
}

/* TEXT STYLES (paragraph, headers) */

.container {
    margin: 10px 10px 55px 10px;
    padding: 0px;
    height: 100%;
}

/* headers */
h1 {
    font-family: "Futura", Futura, sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: top;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    top: 0px;
    white-space: nowrap;
    overflow: hidden;
}
h2 {
    font-family: "Futura", Futura, sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 0px;
    padding:0px;
    top: 0px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}
h3 {
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 0%;
}

h2.relative, h3.relative{
    color: var(--red);
    position:relative;
    text-align: center;
    z-index:1;
}
h1.relative{
    color: var(--black);
    text-align: center;
    position:relative;
    z-index:1;
}

/* paragraph style, used for all regular text */
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 18px;
    line-height: 27px;
    color: var(--black);
    margin: 0px;
    padding: 0px;
    border: 0px;
    z-index:1;
    position:relative;
    text-align: justify;
    text-justify: inter-word;
}
/* columns */
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 0px;
}

/* TEXT BOX STYLES (used for research and data sets) */
.box-head {
    border: 0px; 
    border-radius: 15px 15px 0px 0px;
    padding: 24px 12px 24px 12px;
    width: 100%;
    min-width: 400px;
    margin-top: 9px;
    background-color: var(--blue);
    font-size: 24px;
    font-style: italic;
    font-weight: 400px;
    line-height: 0px;
    text-decoration: none;
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    display: block;
    vertical-align: top
}

.box-head:hover {
    background-color: var(--gold);
    border-color: var(--gold);
    color: var(--black);
}

.box-body {
    display: block;
    border-left: 5px solid var(--blue);
    border-right: 5px solid var(--blue); 
    border-bottom: 5px solid var(--blue);
    padding: 18px;
    border-radius: 0px 0px 15px 15px;
    top: 0px;
    width: 100%;
    min-width: 400px;
    overflow:auto;
    display: block
    vertical-align: top
}

.box-head:hover .box-body,
.box-head:hover ~ .box-body {
    border-left: 5px solid var(--gold);
    border-right: 5px solid var(--gold); 
    border-bottom: 5px solid var(--gold);
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
}

/* IMAGE STYLES */

.big-image {
    width: 50%;
    max-width: 500px;
    height: auto;
    padding-right: 10px;
    display: inline-block;
    float: left;
    vertical-align: text-top;
}

.big-round {
    width: 50%;
    max-width: 500px;
    height: auto;
    padding-right: 10px;
    display: inline-block;
    float: left;
    vertical-align: text-top;
    webkit-border-radius: 50%; 
    moz-border-radius: 50%; 
    border-radius: 50%
}

.small-image {
    width: 200px;
    height: auto;
    padding-right: 10px;
    display: inline-block;
    float: left;
    vertical-align: text-top;
}

.small-round {
    width: 200px;
    height: auto;
    padding-right: 10px;
    display: inline-block;
    float: left;
    vertical-align: text-top;
    webkit-border-radius: 50%; 
    moz-border-radius: 50%; 
    border-radius: 50%
}

#p5-holder {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0px; padding: 0px;
    display: inline-block;
    float: left;
}

/* research logos */
/*#logo-img{
    width: 100%;
    max-width: 300px;
    height: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    display: inline-block;
    float: left;
    vertical-align: text-top;
    display: inline-block;
}*/

/* stanford logo (not currently used) */
#stanford-img {
    height: 136px;
    float: right;
    vertical-align: text-top;
    display:inline;
    margin: 0 auto;
    z-index:-1;
    right: 36px;
    top:0px;
    border:none;
    position:fixed;
}

/* ICON STYLES */

#pdf-icon {
    height:30px;
    position:absolute;
    width:30px;
    left:0%;
    margin-left:-55px;
    margin-top:-6px;
}
#movie-icon {
    height:20px;
    position:absolute;
    width:20px;
    left:0%;
    margin-left:-50px;
    margin-top:-2px;
}


/* RESPONSIVE LAYOUT, LONG AND SHORT HEADINGS TITLES */


.wide {
    display: inline-block;
}
.mid {
    display: none;
}
.narrow {
    display: none;
}

@media screen and (max-width: 1150px) 
{
    .wide {
        display: none;
    }
    .mid {
        display: inline-block;
    }
    .narrow {
        display: none;
    }
}

/* When the screen is less than 700 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) 
{
    .topnav a:not(.active) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    /* makes the two columns stack on top of each other instead of next to each other */
    .column {
        width: 100%;
    }

    .wide {
    display: none;
    }
    .mid {
        display: none;
    }
    .narrow {
        display: inline-block;
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    .topnav.responsive {
        position: -webkit-sticky; /* Safari */
        position: sticky;
    }
    .topnav.responsive a.icon {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
/*a {
    color: var(--blue);
    text-decoration: underline;
}

ul#nav {
    list-style-type: none;
    top:96px;
    height:40px;
    background-color: var(--red);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    left: 0px;
    position:fixed;
    z-index:9;
}

ul#links {
    bottom:20px;
    height:40px;
    background-color: var(--red);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    left: 0px;
    position:fixed;
    z-index:9;
}

#nav li, #links li {
    float: left;
    position: relative;
    left: 20px;
    vertical-align: middle;
}

#links li {
    list-style: none
}

#links li a {
    background-repeat: no-repeat;
    background-size: 25px;
    width: 150px;
}

#links li#email a {
    background-position: 30px 12px;
    background-image: url("/assets/icons/email.png");
    z-index:99;
    padding-left:50px;
}

#links li#scholar a {
    background-position: 10px 12px;
    background-image: url("/assets/icons/scholar.png");
    z-index:99; 
    padding-left:40px;  
}
#links li#github a {
    background-position: 20px 10px;
    background-image: url("/assets/icons/github.png");
    z-index:99;
    padding-left:45px;
}
#links li#publons a {
    background-position: 15px 10px;
    background-image: url("/assets/icons/publons.png");
    z-index:99;
    padding-left:40px;
}

#nav li a, #links li a {
    text-decoration: none;
    display: block;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
    height:100px;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

#nav li a.active {
    background-color: var(--gold);
}

#nav li a:hover, #links li a:hover {
    background-color: var(--gold);
}

.blurb {
    min-height:100%; 
}

.research-logo {
    float: left;
    margin: 0px 20px 0px 20px;
}

#leftnarrow, #leftwide{
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: text-top;
}
#rightwide, #rightnarrow {
    float: right;
    margin-left: 10px;
    margin-bottom: 0px;
    vertical-align: text-top;
}

#leftnarrow, #rightnarrow {
    width: 40%;
}

#leftwide, #rightwide {
    width: 60%;
}

.site-name a, .site-name a:hover {
    color: var(--blue);
    font-weight: 500;
}
#site-slogan {
    color: var(--red);
}

*/