:root {
    --dark-red:#8C1515;
    --sand:#F9F6EF;
    --linkblue: #006CB8;
    --dark-blue: #007c92;
    --fogwhite:#F4F4F4;
    --textblack:#3B3738;
    --gray: #b6b1a9;
}

html{
  height:100%;
}


body {
    background-color: var(--sand);
    color: var(--dark-red);
    margin-right: 0px;
    margin-left: 40px;
    margin-top: 0px;
    padding-bottom: 60px;
    width: 100%;
    font-size: 18px;
    font-family: "Helvetica", Helvetica, Arial,sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    position:relative;
    top:120px;
    z-index:10;
}
footer {
    bottom:60px;
    position: fixed;
    z-index:99;
    width: 100%;
    margin-left: 0px;
    padding: 0;
    background-color: var(--sand);
    display:block;
    vertical-align: middle;
}
header {
    width: 100%;
    top: 0px;
    position: fixed;
    z-index:99;
    overflow: hidden;
    background-color: var(--sand);
    display:block;
    vertical-align: middle;
}

/* columns */
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding-bottom: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul#nav {
    list-style-type: none;
    top:80px;
    height:40px;
    background-color: var(--dark-red);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    left: 0px;
    position:fixed;
    z-index:9;
}

ul#links {
    bottom:0px;
    height:40px;
    background-color: var(--dark-red);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    left: 0px;
    position:fixed;
    z-index:9;
}

#nav li, #links li {
    float: left;
    position: relative;
    left: 40px;
    vertical-align: middle;
}

/* links */

a {
    color: var(--linkblue);
    text-decoration: underline;
}

#links li {
    list-style: none
}

#links li a {
    background-repeat: no-repeat;
    background-size: 25px;
    width: 150px;
}

#links li#email a {
    background-position: 30px 12px;
    background-image: url("/assets/icons/email.png");
    z-index:99;
    padding-left:50px;
}

#links li#scholar a {
    background-position: 10px 12px;
    background-image: url("/assets/icons/scholar.png");
    z-index:99; 
    padding-left:40px;  
}
#links li#github a {
    background-position: 20px 10px;
    background-image: url("/assets/icons/github.png");
    z-index:99;
    padding-left:45px;
}
#links li#publons a {
    background-position: 15px 10px;
    background-image: url("/assets/icons/publons.png");
    z-index:99;
    padding-left:40px;
}

#nav li a, #links li a {
    text-decoration: none;
    display: block;
    color: var(--fogwhite);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
    height:100px;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

#nav li a.active {
    background-color: var(--dark-blue);
}

#nav li a:hover, #links li a:hover {
    background-color: var(--dark-blue);
}

ul#posts { 
    background-color: var(--sand);
    width: 100%;
    padding-top: 9px;
    padding-bottom: 72px;
    font-size: 18px;
    line-height: 27px;
    position: relative;
    left: -40px;
}

#posts li {
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 18px;
    color: var(--dark-red);
    text-decoration: none;
    font-style: italic;
    list-style-type: none;
    float: left;
    clear: left;
}
#posts li a {
    color: var(--linkblue);
    text-decoration: underline;
    font-style: normal;
}

ol {
    margin-top: 0px;
    margin-right: 50px;
    margin-left: 10px;
    display: block;
    position:relative;
    z-index:0;
}

ol li {
    padding-left:20px;
    margin-bottom:10px;
    text-indent:-20px;
    font-size: 14px;
    line-height: 18px;
    color: var(--textblack);
    position:relative;
    z-index:0;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 0px;
}
h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 0px;
}
h3 {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 0px;
}

h1.relative, h2.relative, h3.relative {
    display:block;
    color: var(--dark-red);
    font-weight: 400;
    z-index: 1;
    position: relative;
}

h1.static, h3.static{
    font-weight: 400;
    color: var(--dark-red);
    position:fixed;
    z-index:1;
}
h1.static{
    top:0px;
}
h3.static{
    top:40px;
}
.research-logo {
    float: left;
    margin: 0px 20px 0px 20px;
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 18px;
    line-height: 27px;
    color: var(--textblack);
    margin-left: 0px;
    margin-right: 80px;
    z-index:1;
    position:relative;
}

.data-text {
    border-left: 2px solid black; 
    border-right: 2px solid black; 
    border-bottom: 2px solid black; 
    padding-left: 5%; 
    padding-right: 0px; 
    margin-right: 80px; 
    padding-top: 10px; 
    position: relative; top:-10px;"
}

.data-head {
    border: 2px solid black; 
    padding: 0% 0% 0% 5%; 
    margin-right: 80px; 
    background-color: var(--dark-blue);
    color: var(--fogwhite);
    display: block;
}

.blurb {
    min-height:100%; 
}

#logo {
    height: 120px;
    float: right;
    vertical-align: text-top;
    display:inline;
    margin: 0 auto;
    z-index:99;
    right: 0px;
    top:0px;
    border:none;
    position:fixed;
}

#pdf-icon {
    height:30px;
    position:absolute;
    width:30px;
    left:0%;
    margin-left:-50px;
    margin-top:-6px;
}
#movie-icon {
    height:20px;
    position:absolute;
    width:20px;
    left:0%;
    margin-left:-45px;
    margin-top:-2px;
}

#image {
    width: 40%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: text-top;
}
.site-name a, .site-name a:hover {
    color: var(--textblack);
    font-weight: 500;
}
#site-slogan {
    color: var(--dark-red);
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
    #logo {
        visibility:hidden
    }
}