<link rel="stylesheet" type="text/css" href="/css/header.css">
<img id="logo" src="{{ site.url }}/assets/logo/su_seal.png" alt="Stanford Logo"> 
<h1>{{ "Peter J. Kohler, PhD" }}</h1>
<h2>{{ "Stanford Vision and Neurodevelopment Lab" }}</h2>
<nav>
	<ul>
	{% for item in site.navigation %}
	  {% assign class = navbar_nil %}
	  {% if page.url contains item.url %}
	      {% assign class = 'navbar_act' %}
	  {% endif %}
      <li><a href="{{ item.url }}" class="{{ class }}">{{ item.title }}</a></li>
	{% endfor %}
	</ul>
</nav>