<!DOCTYPE html>
<html>
	<head>
		<title>pjkohler: {{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% include favicon.html %}
		{% include analytics.html %}
	</head>
	<header>
	<img id="logo" src="{{ site.url }}/assets/logos/su_seal.png" alt="Stanford Logo">
	<h1 class="static">{{ "PETER J. KOHLER" }}</h1>
	<h3 class="static">{{ "Stanford Vision and Neurodevelopment Lab" }}</h3>
	<nav>
		<ul id="nav">
	  	{% for node in site.navigation %}
	  		{% if node.url == "/" %}
	  			{% if page.url == node.url %}
    				{% assign class = "active" %}
    			{% else %}
    				{% assign class = "nil" %}
    			{% endif %}
			{% else %}
    			{% if page.url contains node.url %}
					{% assign class = "active" %}
				{% else %}
					{% assign class = "nil" %}
				{% endif %}
			{% endif %}
			<li><a class="{{ class }}" href="{{ node.url }}">{{ node.title }}</a></li>
  		{% endfor %}
		</ul>
	</nav>
	</header>
	<body>
		<div class="container">
    		{{ content }}
		</div>
	</body>
	<footer>
		<ul id="links">
			<li id="email"><a href="mailto: pjkohler@stanford.edu" target="_blank">EMAIL</a></li>
			<li id="scholar"><a href="http://scholar.google.com/citations?user=kV2t964AAAAJ&amp;hl=en" target="_blank">SCHOLAR</a></li>
			<li id="github"><a href="https://github.com/pjkohler" target="_blank">GITHUB</a></li>
			<li id="publons"><a href="https://publons.com/author/1193872/peter-j-kohler#profile" target="_blank">PUBLONS</a></li>
		</ul>
	</footer>
</html>