<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/assets/icons/favicon.ico?x67290" />
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script language="javascript" type="text/javascript" src="/assets/processing/libraries/p5.js" defer></script>
  		<script src="/assets/processing/libraries/quicksettings.js" type="text/javascript" defer></script>
  		<script src="/assets/processing/libraries/p5.gui.js" type="text/javascript" defer></script>
		{% include analytics.html %}
		{% seo %}
	</head>
	<body>
		<header>
			<div style="float:left; padding-left:200px">
				<h1 class="relative"><div class="long-title">KOHLER VISUAL NEUROSCIENCE LAB</div><div class="short-title">KVNL</div>
				<h2 class="relative"><div class="long-title">YORK UNIVERSITY</div><div class="short-title">YORK</div></h2>
			</div>
		</header>
		<div class="topnav" id="myTopnav">
		  	{% for node in site.navigation %}
		  		{% if node.url == "/" %}
		  			{% if page.url == node.url %}
	    				{% assign class = "active" %}
	    			{% else %}
	    				{% assign class = "nil" %}
	    			{% endif %}
				{% else %}
	    			{% if page.url contains node.url %}
						{% assign class = "active" %}
					{% else %}
						{% assign class = "nil" %}
					{% endif %}
				{% endif %}
				<a class="{{ class }}" href="{{ node.url }}">{{ node.title }}</a>
	  		{% endfor %}
			<a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
		</div>
		<div class="container">
    		{{ content }}
		</div>
		<script>
			function myFunction() {
			  var x = document.getElementById("myTopnav");
			  if (x.className === "topnav") {
			    x.className += " responsive";
			  } else {
			    x.className = "topnav";
			  }
			}
		</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<div class="icon-bar">
			<a href="mailto: kvnl@yorku.ca" target="_blank"><img src="/assets/icons/email.png" height=30px></a>
			<a href="https://github.com/kohler-visual-neuroscience-lab" target="_blank"><img src="/assets/icons/github.png" height=30px></a>
			<a href="https://twitter.com/k_v_n_l" target="_blank"><img src="/assets/icons/twitter.png" height=30px></a>
			<!--<a class="active" href="#"><i class="fa fa-home"></i></a>
			<a href="#"><i class="fa fa-search"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
			<a href="#"><i class="fa fa-globe"></i></a>
			<a href="#"><i class="fa fa-trash"></i></a>-->
		</div>
		<!--<ul id="links">
			<li id="email"><a href="mailto: pjkohler@yorku.ca" target="_blank"></a></li>
			<li id="scholar"><a href="https://scholar.google.com/citations?user=kV2t964AAAAJ&amp;hl=en" target="_blank"></a></li>
			<li id="github"><a href="https://github.com/pjkohler" target="_blank"></a></li>
			<li id="publons"><a href="https://publons.com/author/1193872/peter-j-kohler#profile" target="_blank"></a></li>
		</ul>-->
	</body>
</html>