<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/assets/icons/favicon.ico?x67290" />
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script language="javascript" type="text/javascript" src="/assets/processing/libraries/p5.js" defer></script>
  		<script src="/assets/processing/libraries/quicksettings.js" type="text/javascript" defer></script>
  		<script src="/assets/processing/libraries/p5.gui.js" type="text/javascript" defer></script>
		{% include analytics.html %}
		{% seo %}
	</head>
	<body>
		<header title="Kohler Visual Neuroscience Lab">
			<div class="svg-logo" style="float: left; height: 160px; padding: 0px">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268 200" height="160">>
				    <path id="blue-block" d="M219.5052 118.7102l23.8886 13.7921v27.5843l-23.8886 13.792-23.8887-13.792v-27.5843z" fill="blue" fill-opacity=".3"/>
				    <path id="red-block" d="M171.7279 118.7102l23.8887 13.7921v27.5843l-23.8887 13.792-23.8886-13.792v-27.5843z" fill="red" fill-opacity=".3"/>
				    <path id="green-block" d="M195.6166 77.3339l23.8886 13.792v27.5843l-23.8886 13.7921-23.8886-13.792V91.126z" fill="green" fill-opacity=".3"/>
				</svg>
			</div>
			<div style="float: left; height: 160px; padding: 25px 0px 0px 0px">
				<h1 class="relative">
					<div class="wide">KOHLER VISUAL NEUROSCIENCE LAB</div>
					<div class="mid">KOHLERLAB</div>
					<div class="narrow">KVNL</div>
				</h1>	
				<h2 class="relative">
					<div class="wide">YORK UNIVERSITY</div>
					<div class="mid">YORK UNIVERSITY</div>
					<div class="narrow">YORK</div>
				</h2>
			</div>
		</header>
		<div class="topnav" id="myTopnav">
		  	{% for node in site.navigation %}
		  		{% if node.url == "/" %}
		  			{% if page.url == node.url %}
	    				{% assign class = "active" %}
	    			{% else %}
	    				{% assign class = "nil" %}
	    			{% endif %}
				{% else %}
	    			{% if page.url contains node.url %}
						{% assign class = "active" %}
					{% else %}
						{% assign class = "nil" %}
					{% endif %}
				{% endif %}
				<a class="{{ class }}" href="{{ node.url }}">{{ node.title }}</a>
	  		{% endfor %}
			<a href="javascript:void(0);" class="icon" onclick="nav_bar()"><i class="fa fa-bars"></i></a>
		</div>
		<div class="container">
    		{{ content }}
		</div>
		<script>
			function nav_bar() {
			  var x = document.getElementById("myTopnav");
			  if (x.className === "topnav") {
			    x.className += " responsive";
			  } else {
			    x.className = "topnav";
			  }
			}	
			let c_idx = 0
			let direction = 1

			function supportsSvg() {
  				var div = document.createElement('div');
  				div.innerHTML = '<svg/>';
  				return (div.firstChild && div.firstChild.namespaceURI) == 'http://www.w3.org/2000/svg';
			}
			console.log(supportsSvg())
			if (!supportsSvg()) {
  				document.documentElement.className += " no-svg-logo";
			} else {
				document.documentElement.className += " svg-logo";
				window.setInterval(color_switcher, 50);
			}

			function color_switcher(){
				let blocks = []
				blocks.push(document.getElementById('red-block'));
				blocks.push(document.getElementById('green-block'));
				blocks.push(document.getElementById('blue-block'));
				
				let opa = parseFloat(blocks[c_idx].getAttributeNS(null, 'fill-opacity'));
				const incr = .05
				const o_min = 0.30 
				const o_max = 0.70

				if ( opa <= o_min ) {
					direction = direction * -1
					c_idx = Math.floor(Math.random() * 3); // change block
					opa = o_min+incr		  // reset opacity
				} else if (opa >= o_max) {
					direction = direction * -1
					opa = o_max-incr
				} else {
					opa = Math.round((opa + direction * incr)*100)/100
				}
				
				blocks[c_idx].setAttributeNS(null, 'fill-opacity', opa)
			}
    			
		</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<div class="icon-bar">
			<a href="mailto: kvnl@yorku.ca" target="_blank"><img src="/assets/icons/email.png" height=30px alt="lab email"></a>
			<a href="https://github.com/kohler-visual-neuroscience-lab" target="_blank"><img src="/assets/icons/github.png" height=30px alt="lab github"></a>
			<a href="https://twitter.com/k_v_n_l" target="_blank"><img src="/assets/icons/twitter.png" height=30px alt="lab twitter"></a>
			<!--<a class="active" href="#"><i class="fa fa-home"></i></a>
			<a href="#"><i class="fa fa-search"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
			<a href="#"><i class="fa fa-globe"></i></a>
			<a href="#"><i class="fa fa-trash"></i></a>-->
		</div>
		<!--<ul id="links">
			<li id="email"><a href="mailto: pjkohler@yorku.ca" target="_blank"></a></li>
			<li id="scholar"><a href="https://scholar.google.com/citations?user=kV2t964AAAAJ&amp;hl=en" target="_blank"></a></li>
			<li id="github"><a href="https://github.com/pjkohler" target="_blank"></a></li>
			<li id="publons"><a href="https://publons.com/author/1193872/peter-j-kohler#profile" target="_blank"></a></li>
		</ul>-->
	</body>
</html>